// les couleurs à utiliser

$background-gray: #999;
$text-light: #fff;
$other-color: #f0f2f5;
$dark-color: #3e3e3e;
$black-color: #000;
$darkgreen-color: #065509;
$marron-color: #582900;
$blue-color: #0000FF;
$red-color: #FF3333;
$darkbeige-color: #9A867A;


//responsive

$iphone-app: 375px;
$ipad-app: 375px;
$mini-desktop: 1185px;